.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 55px;;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f1f1f1;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 865px) {
    header > p {
    float: right;
    padding-right: 15px;
    }
}
