.sidenav {
  height: 110%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282c34;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

a.closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;
  color: red;
  text-decoration: none;
}
.closebtn:hover {
  font-size: 28px;
}
a.openbtn {
  position: absolute;
  top: 8px;
  font-size: 45px;
  text-decoration: none;
  color: red;
  left: 10px;
}
.openbtn:hover {
  color: white;
}
nav.hidden {
  width: 45px;
  background-color: #282c34;
  z-index: 10;
}

nav.hidden > div > h4, nav.hidden > input, nav.hidden > div.select-style {
  display: none;
}

a.button-hidden {
  display: none;
}

input {
  border-radius: 3px;
}

.select-style {
  border: 1px solid #ccc;
  width: 60px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("../assets/dropdown.png") no-repeat 90% 50%;
  background-size: 12px 12px;
  margin: 0 auto;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

@media only screen and (max-width: 865px) {
  .sidenav {
    width: 33%;
  }
}
@media only screen and (max-width: 420px) {
  .sidenav {
    width: 40%;
  }
}
